/* eslint-disable prettier/prettier */
.Card-left {

    background-color: rgb(255, 255, 255);
}
.Card-right {
    margin-left: 0px;
}
.accord {
    background-color: whitesmoke;
    border-style: groove;
}
.add {
    margin-left: 320px;
    margin-bottom: 20px;

}
.add2 {
    margin-left: 200px;
}